@keyframes fade-in-top {
    0% {
        display: flex;
        transform:translateY(-50px);
        opacity:0;
    }
    2% {
        transform:translateY(0);
        opacity:1;
    }
    98% {
        transform:translateY(0);
        opacity:1;
    }
    100% {
        transform:translateY(-50px);
        opacity:0;
    }
}
.open{
    animation: fade-in-top 5s linear 0s 1 normal none;
}