@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
.element {
    animation: slideIn 3s ease-in-out; /* 调整持续时间为 1.5 秒 */
  }